@{
    ViewBag.Title = "Chat";

}

<style>
    div.panel-body {
        overflow: scroll;
        background: url('https://i.pinimg.com/564x/a8/e5/66/a8e5664d7887e8797f168fc2ed394319.jpg');
    }
</style>

<div class="row">
    <div class="chat-panel panel panel-default container col-md-6">
        <div class="panel-heading">
            Chat
            <i class="fa fa-paper-plane fa-fw"></i>
        </div>

        <!--<p class="lead">Chat</p>-->

        <div class="panel-body" id="chat" style="height:250px;">
            <input type="hidden" id="displayname" />
            <p id="discussion">
            </p>
        </div>

        <div class="panel-footer">
            <div class="input-group">
                <div id="isTyping">&nbsp;</div>
                <form data-bind="submit:addItem">
                    <input type="text" id="message" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" id="sendmessage" value="Send" data-bind="enable: itemToAdd().length > 0" />Send</button>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <div class="container col-md-6">
        <p class="lead" style="color: white">My recent messages </p>

        <select multiple="multiple" height="5" data-bind="options:allItems"> </select>
        <div>
            <button data-bind="click: removeSelected">Clear</button>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;

            var ChatListModel = function () {
                this.itemToAdd = ko.observable("");
                this.allItems = ko.observableArray();

                this.addItem = function () {
                    if (this.allItems().length > 5) {
                        this.allItems.removeAll();
                    }

                    this.allItems.push(this.itemToAdd());
                };

                this.removeSelected = function () {
                    this.allItems.removeAll();
                };
            };

            chat.client.addNewMessageToPage = function (name, message, flag) {
                // Add the message to the page.
                if (flag === 0) {
                    $('#discussion').append('<p style="color: red; text-stroke: 4px black"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_7.png" title="user1">' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</p>');
                }
                else if (flag === 1) {
                    $('#discussion').append('<p style="color: green; text-stroke: 4px black"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_71.png" title="user2">' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</p>');
                }
                else if (flag === 2) {
                    $('#discussion').append('<p style="color: blue; text-stroke: 4px black"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_7.png" title="user1">' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</p>');
                }
                else {
                    $('#discussion').append('<p style="color: orange; text-stroke: 4px black"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_71.png" title="user2">' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</p>');
                }
            };

            chat.client.sayWhoIsTyping = function (name) {
                $('#isTyping').html('<em>' + name + ' is typing</em>');
                setTimeout(function () {
                    $('#isTyping').html('&nbsp;');
                }, 3000);
            };


            $('#displayname').val(prompt('Enter your name:', ''));

            $('#message').focus();

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    var encodedName = $('<div />').text($('#displayname').val());

                    var encodedMsg = $('<div />').text($('#message').val()).html();
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });

                $('#message').keypress(function () {
                    var encodedName = $('<div />').text($('#displayname').val()).html();
                    chat.server.isTyping(encodedName);
                });
            });

            ko.applyBindings(new ChatListModel());
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}