@{
    ViewBag.Title = "Chat";

}

<link href="ChatStyle.css" rel="stylesheet" />

<div class="row">
    <div class="container col-md-6">
        <p class="lead">Chat</p>
        <div id="isTyping">&nbsp;</div>
        <form data-bind="submit:addItem">
            <input type="text" id="message" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"'/>
            <button class="btn btn-success" type="submit" id="sendmessage" value="Send" data-bind="enable: itemToAdd().length > 0"/>Send</button>
            <input type="hidden" id="displayname" />
        </form>
        
        <ul id="discussion">
        </ul>
    </div>

    <div class="container col-md-6">
        <p class="lead">My recent messages </p>

        <select multiple="multiple" height="5" data-bind="options:allItems"> </select>
        <div>
            <button data-bind="click: removeSelected">Clear</button>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            
            var BetterListModel = function () {
                this.itemToAdd = ko.observable("");
                this.allItems = ko.observableArray();

                this.addItem = function () {
                    this.allItems.push(this.itemToAdd());
                };

                this.removeSelected = function () {
                    this.allItems.removeAll();
                };
            };

            chat.client.addNewMessageToPage = function (name, message, flag) {
                // Add the message to the page.
                if (flag === 0) {
                    $('#discussion').append('<li><span style="color: red; text-stroke: 4px black"><strong>' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</span></li>');
                }
                else if (flag === 1) {
                    $('#discussion').append('<li><span style="color: green; text-stroke: 4px black"><strong>' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</span></li>');
                }
                else if (flag === 2) {
                    $('#discussion').append('<li><span style="color: blue; text-stroke: 4px black"><strong>' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</span></li>');
                }
                else {
                    $('#discussion').append('<li><span style="color: orange; text-stroke: 4px black"><strong>' + htmlEncode(name)
                        + '</strong>: ' + htmlEncode(message) + '</span></li>');
                }
            };

            chat.client.sayWhoIsTyping = function (name) {
                $('#isTyping').html('<em>' + name + ' is typing</em>');
                setTimeout(function () {
                    $('#isTyping').html('&nbsp;');
                }, 3000);
            };


            $('#displayname').val(prompt('Enter your name:', ''));

            $('#message').focus();

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    var encodedName = $('<div />').text($('#displayname').val());
                    
                    var encodedMsg = $('<div />').text($('#message').val()).html();
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });

                $('#message').keypress(function () {
                    var encodedName = $('<div />').text($('#displayname').val()).html();
                    chat.server.isTyping(encodedName);
                });
            });

            ko.applyBindings(new BetterListModel());
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}

